:root {
    --glow: #1ae8c9;
}

.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
}

.search:hover {
    color: #fff;
    background-color: black;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from{ 
        box-shadow: 0 0 10px var(--glow);
    } to {
        box-shadow: 0 0 25px var(--glow);
    }
}



